.article {
	border:2px solid grey;
	margin: 10px 0 0;
	position: relative;
}
.article .article-title{
	margin: 80px 0; 
}
.article .article-title a{
	color: black;
	font-weight: bold;
	font-size: 20px;
}
.article .points{
	margin: 10px 20px;
	background: grey;
	width: 200px;
	height: 200px;
	position: relative;
}
.article .points .label{
	position: absolute;
	 top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.article .points .label .votes {
	font-size: 70px;
	text-align: center;
}	

.article .ListItem {
	list-style: none;
	position: absolute;
	bottom: 0;
}
.article .ListItem .item {
	display: inline-block;
	margin-right: 50px;
}